.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; background:#818181; color: #f0f0f0; font-family: arial;; font-size: 14px}
.ui-timepicker-div dl { text-align: left; color:818181; font-family: arial; font-size: 14px }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 30%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }
.ui-timepicker-div~.ui-datepicker-buttonpane button{padding: 1px; font-size: 12px;}
.ui-timepicker-div{ font-family: Arial, Helvetica, sans-serif}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {width: 1em; height: 18px; background:#818181; }
.ui-timepicker-div .ui-slider-horizontal{height: 12px}

.ui-datepicker{
	width: 220px;
	font-family: arial;
	font-size: 13px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	font-family: arial;
	font-size: 13px;
}
.ui-datepicker-header {
	background: none repeat scroll 0% 0% rgb(129, 129, 129);
	color: rgb(240, 240, 240);
	font-family: arial;
}

/* listing time picker */
.ui-autocomplete.ui-menu{
	width: 120px;
	max-height: 160px;
	overflow: hidden;
	overflow-y: auto;
}
.ui-autocomplete .ui-menu-item{
}
.ui-autocomplete .ui-menu-item a{
	font: 13px "Arial";
	color: #585858;
}
/* listing time picker end */
.ui-datepicker .ui-datepicker-buttonpane{
	font-size: 11px;
}